### Q-13. Write an SQL query to show only odd rows from a table.

In [ ]:
select * 
from Worker
where MOD (WORKER_ID, 2) <> 0

### Q-14. Write an SQL query to clone a new table from another table.

In [ ]:
create WORKER_CLONE
like WORKER
insert into WORKER_CLONE
select * 
from WORKER